*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.left-column{
    display: flex;
    flex-direction: column;

    width: 30%;
    background-color: #f0f0f0;
}

.right-column{
    width: 70%;
    background-color: white;

    display: flex;
    flex-direction: column;
}

nav{
    padding: 20px;
    background-color: #009688;
    color: white;
}

.contacts, .messages{
    flex-grow: 1;
    overflow: auto;
}

.contact{
    display: flex;
    /* align-items: center; */

    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-icon{
    width: 15%;
    margin-right: 10px;
}

.user-icon img{
    width: 100%;
    border-radius: 50%;
}

.user-info{
    flex-grow: 1;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    padding: 10px;
}

.message-status {
    font-size: 0.8em;
    color: gray;
    padding-left: 10px;
}

.message-time {
    padding: 10px;
    color: gray;
    font-size: 0.8em;
  }

.messages{
    background-image: url(/img/mine.jpg);

    display: flex;
    flex-direction: column;
}

.message {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
}

.message.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.message.received {
    background-color: #FFFFFF;
}

.message-content {
    font-size: 14px;
    line-height: 1.4;
}

.message-time {
    font-size: 10px;
    color: #999999;
    margin-top: 5px;
}


.active-user{
    padding: 20px;
    background-color: #009688;
    color: white;
}