*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.left-column{
    display: flex;
    flex-direction: column;

    width: 30%;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.right-column{
    width: 70%;
    background-color: white;

    display: flex;
    flex-direction: column;
}

nav, .active-user{
    display: flex;
    align-items: center;
    padding: 10px;
    height: 80px; 
    background-color: #009688;
    color: white;
}

.contacts, .messages{
    flex-grow: 1;
    overflow: auto;
}

.contact{
    display: flex;
    /* align-items: center; */

    padding: 10px;
    border-bottom: 1px solid #ccc;
    transition: background-color 0.3s ease;
}

.contact:hover {
    background-color: rgba(64, 39, 177, 0.1);
  }

/* .user-icon{
    width: 15%;
    margin-right: 10px;
}

.user-icon img{
    width: 90%;
    border-radius: 50%;
}

.right-user-icon{
    max-width: 100px;
    display: flex;
    justify-content: center;
}

.right-user-icon img{
    width: 60%;
    border-radius: 50%;
} */

.user-icon {
    width: 60px;
    height: 60px;
    margin-right: 10px;
}
  
.user-icon img {
    width: 100%; 
    height: 100%;
    border-radius: 50%;
}
  
.right-user-icon {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
}
  
.right-user-icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.user-info{
    flex-grow: 1;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    padding: 10px;
}

.my-status {
    font-size: 0.8em;
    padding-left: 10px;
}

.message-status {
    font-size: 0.8em;
    color: gray;
    padding-left: 10px;
}

.message-time{
    padding: 10px;
    color: gray;
    font-size: 0.8em;
  }

  .user-menu i{
    padding: 0 10px;

  }

.messages{
    background-image: url(/img/mine.jpg);

    display: flex;
    flex-direction: column;
}

.message {
    margin: 20px;
    display: flex;
    /* display: inline-flex; /* TEST TEST TEST */
    flex-direction: column;
    align-items: flex-start;

    display: inline-block;
    width: fit-content;

    /* max-width: 50%;
    /* max-width: 100%; /*TEST TEST TEST*/
    padding: 10px;
    border-radius: 10px;
    /* word-wrap: break-word; /* TEST TEST TEST */
}

.message.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.message.received {
    background-color: #FFFFFF;
}

.message-content {
    font-size: 14px;
    line-height: 1.4;
}

.message-time {
    font-size: 10px;
    color: #999999;
    margin-top: 5px;
}

.active-user .user-info .my-status{
    font-size: 0.8em;
    padding-left: 10px;  
    font-style: italic;
}

.input-wrapper {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .emoticon, .voice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-width: 100px;
  }
  
  .input-field {
    flex-grow: 1;
    display: flex;
  }
  
  .input-field input{
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #d3c9c9;
  }
  
  /* .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */


  .search-container {
    padding: 10px;
    background-color: #ccc4c4;
}

.search-inner {
    background-color: white;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.search-icon {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid grey;
}

.search-input {
    flex-grow: 1;
    margin-left: 5px;
}

.search-input input {
    width: 100%;
    border: none;
    background-color: transparent;
    outline: none;
}