*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    height: 100vh;
}

.left-column{
    display: flex;
    flex-direction: column;

    width: 30%;
    background-color: #f0f0f0;
    border-right: 1px solid #ccc;
}

.right-column{
    width: 70%;
    background-color: white;

    display: flex;
    flex-direction: column;
}

nav{
    display: flex;
    align-items: center;
    padding: 10px;
    max-height: 90px;
    
    background-color: #009688;
    color: white;
}

.contacts, .messages{
    flex-grow: 1;
    overflow: auto;
}

.contact{
    display: flex;
    /* align-items: center; */

    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.user-icon{
    width: 15%;
    margin-right: 10px;
}

.right-user-icon{
    width: 10%;
    display: flex;
    justify-content: center;
}

.right-user-icon img{
    width: 70%;
    border-radius: 50%;
}

.user-icon img{
    width: 100%;
    border-radius: 50%;
}

.user-info{
    flex-grow: 1;
    margin-right: 10px;
}

.user-name {
    font-weight: bold;
    padding: 10px;
}

.my-status {
    font-size: 0.8em;
    padding-left: 10px;
}

.message-status {
    font-size: 0.8em;
    color: gray;
    padding-left: 10px;
}

.message-time{
    padding: 10px;
    color: gray;
    font-size: 0.8em;
  }

  .user-menu i{
    padding: 0 10px;

  }

.messages{
    background-image: url(/img/mine.jpg);

    display: flex;
    flex-direction: column;
}

.message {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 60%;
    padding: 10px;
    border-radius: 10px;
}

.message.sent {
    align-self: flex-end;
    background-color: #DCF8C6;
}

.message.received {
    background-color: #FFFFFF;
}

.message-content {
    font-size: 14px;
    line-height: 1.4;
}

.message-time {
    font-size: 10px;
    color: #999999;
    margin-top: 5px;
}


.active-user{
    display: flex;
    align-items: center;
    max-height: 90px;
    
    padding: 10px;
    background-color: #009688;
    color: white;
}

.active-user .user-info .my-status{
    font-size: 0.8em;
    padding-left: 10px;  
    font-style: italic;
}

.input-wrapper {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
  }
  
  .emoticon, .voice {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    min-width: 100px;
  }
  
  .input-field {
    flex-grow: 1;
    display: flex;
  }
  
  .input-field input{
    width: 100%;
    padding: 8px 15px;
    border: none;
    border-radius: 20px;
    outline: none;
    background-color: #d3c9c9;
  }
  
  /* .right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  } */