<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ---FONTAWESOME -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <!-- --- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <title>BoolzApp Vue</title>
</head>


<body>
<!-- Vue Js -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<div id="app">

    <div class="container">

        <div class="left-column">

            <nav class="navbar">
                <div class="user-icon">
                    <img src="img/avatar_4.jpg" alt="fnf">
                </div>
                <div class="user-info">
                    <div class="user-name">Luca</div>
                    <div class="my-status">online</div>
                </div>
                <div class="user-menu">
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-regular fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </nav>

                
            <div class="search-container">
                <div class="search-inner">

                    <div class="search-icon">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>

                    <div class="search-input">
                        <input type="text" v-model="searchedContacts" placeholder="Search contacts...">
                    </div>

                </div>
            </div>



            <div class="contacts">
                <div v-for="(element, index) in getFilteredContacts()" class="contact" @click="makeItBig(element)">
                <!-- <div v-for="(element, index) in contatti" class="contact" @click="makeItBig(element)"> -->
                    <div class="user-icon">
                        <img :src="element.avatar" alt="fnf">
                    </div>
                    <div class="user-info">
                        <div class="user-name">{{element.name}}</div>
                        <div class="message-status">Ultimo messaggio inviato</div>
                    </div>
                    <div class="message-time">11:00 AM</div>
                </div>
            
            </div>

            <div class="switch">
                <select id="switch-mode" v-model="mode">

                  <option value="normal">Normal</option>

                  <option value="dark">Dark</option>
                  
                </select>
            </div>

        </div>

        <div class="right-column">

            <div class="active-user">
                <div class="right-user-icon">
                    <img :src="activeContact.avatar" alt="fnf">
                </div>
                <div class="user-info">
                    <div class="user-name">{{activeContact.name}}</div>
                    <div class="my-status">Ultimo accesso oggi alle 12:00</div>
                </div>
                <div class="user-menu">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <i class="fa-solid fa-paperclip"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </nav>
            
            </div>

            <div class="messages">

                <div v-for="(msg, index) in activeContact.messages" v-bind:class="['message', msg.status]">
                    
                    <div class="message-content">{{msg.message}}</div>
                    
                    <div class="message-time">{{msg.date}}</div>

                </div>
                
            </div>

            <div class="input-wrapper">
                <div class="emoticon">
                    <i class="fa-regular fa-face-smile"></i>
                </div>
                <div class="input-field">
                    <input type="text" v-model="newMessage" @keyup.enter="sendMessage" placeholder="type a message...">
                </div>
                <div class="voice">
                    <i class="fa-solid fa-microphone-lines"></i>
                </div>


            </div>

        </div>

      </div>



</div>
 <!--  ---JAVASCRIPT -->
<script type="text/javascript" src="js/script.js"></script>   
</body>

</html>